.main
{
    font-family: "Roboto";
    color: white;
}
.content
{
    background-color: rebeccapurple;
    width: 400px;
    height: 650px;
    background-image: url(https://ik.imagekit.io/wknpdt4e9/Revamp%20Assets/todolistimg.webp?updatedAt=1737467122454);
    background-size: cover;
}
.title
{
    font-size: 40px;
    text-align: center;
}
.subtitle
{
    text-align: center;
}
.btn
{
    background-color: yellow;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: large;    
    border-radius: 100px;
}
.btn1
{
    text-decoration: underline;

}
