/* {
    font-family: SuisseWorks, Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

/* <h1 class="font-[700] text-[31px] leading-[39px] text-[#2f3040] ">All the skills you need in one place</h1> */
/* #e9daff */

.scrollbar-hide-1::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide-1{
    scrollbar-width:none;
}


.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    scrollbar-width:none;
}